.srs {
    width: 100%;
}

.srs .form-control {
    width: inherit;
    padding: 0;
    align-items: center;
    cursor: pointer;
    /* flex-wrap: wrap; */
    gap: 2px;
    justify-content: space-between;
    /* min-height: 30.5em; */
    flex-wrap: wrap;
}

.srs .active.form-control {
    border-color: #264ae5;
    outline: 0;
    background-color: #fff;
    box-shadow: none;
}

.srs .read-only.form-control {
    cursor: not-allowed;
    background-color: #f8f8f8;
}

.srs .srs-current-value{
    grid-column: 1;
    height: min-content;
    grid-row: 1;
}

.srs .srs-current-value p{
    margin: 0;
}

.srs .srs-search-input{
    flex-grow: 1;
    padding: 0.5em;
    display: grid;
    flex: 1 1 0%;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}

.srs .srs-search-input > input {
    border: none;
    padding: 0;
    background: transparent;
    grid-column: 1;
    grid-row: 1;
}

.srs .srs-icon-row {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-left: auto;
    grid-column: 2;
}

.srs .srs-badge-row, .srs .srs-comma-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.25em;
    width: 100%;
    gap: 0.25em;
    grid-column: 1/3;
    grid-row: 1;
}

/* .srs .srs-comma-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em; 
    width: 100%;
    gap: 0.25em;
    grid-column: 1/2;
} */

.srs .read-only .srs-comma-row {
    padding: 0.5em;
}

.srs .srs-icon-row .glyphicon, .srs .srs-icon-row img{
    padding: 0.5em 0.25em;
    color: #6f6f6f;
}

.srs .srs-selectable-list.form-control {
    display: inline-block;
}

.srs .srs-text {
    padding: 0.5em 0 0.5em 0.5em;
    flex-grow: 1;
}

.srs .srs-text p {
    line-height: 1.5;
    margin: 0;
}

.srs .srs-badge {
    background-color: #e7e7e7;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    padding: 0.25em;
}

.srs .srs-badge .glyphicon, .srs .srs-badge img{
    padding: 2px;
}

.srs .srs-badge span {
    font-size: small;
}

.srs .srs-comma,
.srs .srs-extra {
    font-size: small;
    padding: 0px;
}

.srs .read-only .srs-comma,
.srs .read-only .srs-extra {
    font-size: unset;
}

.srs .srs-dropdown {
    position: fixed;
    z-index: 302;
}

.srs .srs-menu{
    border: 1px solid #d7d7d7;
    border-radius: 0.25em;
    background-color: #fff;
    overflow-y: auto;
    padding: 0.25em;
}
.has-error .srs .srs-menu  {
    border-color: #a94442;
}

.srs .srs-option {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.25em;
    display: flex;
}

/* styling for html mode w/ checkboxes */
.srs .srs-option input {
    max-width: 16px;
}
.srs .srs-option p {
    width: fit-content;
    line-height: 1;
    margin: 0;
}
.srs .srs-badge p {
    line-height: 1;
    margin: 0;
}

.srs .srs-infooption {
    padding: 0.5em;
    color: #6f6f6f;
}

.srs .srs-option.disabled {
    color: #6f6f6f;
    cursor: not-allowed;
}

.srs .srs-option.focused:not(.disabled) {
    background-color: #d7d7d7;
}
.srs .srs-option.selected {
    background-color: #e7e7e7;
}

.srs .srs-option input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5em !important;
    flex-shrink: 0 !important;
}

/* .srs .srs-loading-indicator{
    display: flex;
    gap: 0.25em;
    padding: 0.5em 0.25em;
}

.srs .srs-loading-dot{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#6f6f6f; 
}
*/