$padding-xs: 0.2em;
$padding-sm: 0.3em;
$padding-md: 0.5em;
$padding-lg: 0.7em;
$focus-outline: -webkit-focus-ring-color auto 1px;

.srs {
    width: 100%;
    .form-control {
        padding: 0;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        min-height: 38px;
        .srs-select {
            display: flex;
            width: 100%;
            .srs-value-container {
                padding: $padding-md;
                display: grid;
                flex: 1 1 0%;
                overflow-x: hidden;
                // for enum and ref
                .srs-current-value {
                    grid-column: 1;
                    height: min-content;
                    grid-row: 1;
                    p {
                        margin: 0;
                    }
                }
                .srs-input-container {
                    grid-column: 1;
                    grid-row: 1;
                    flex: 1 0 100%;
                    .srs-input {
                        width: 100%;
                        background: transparent;
                        border: 0px;
                        margin: 0px;
                        outline: 0px;
                        padding: 0px;
                    }
                }
                &.srs-compact {
                    .srs-input-container {
                        visibility: visible;
                        flex: 1 1 auto;
                        display: inline-grid;
                        grid-area: 1 / 1 / 2 / 3;
                        grid-template-columns: 0px min-content;
                        box-sizing: border-box;

                        .srs-input {
                            grid-area: 1 / 2 / auto / auto;
                            font: inherit;
                            min-width: 2px;
                        }
                        &::after {
                            content: attr(data-value) " ";
                            visibility: hidden;
                            white-space: pre;
                            grid-area: 1 / 2 / auto / auto;
                            font: inherit;
                            min-width: 2px;
                            border: 0px;
                            margin: 0px;
                            outline: 0px;
                            padding: 0px;
                            overflow-x: hidden;
                        }
                    }
                }

                &.srs-multi {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
                &.srs-badges {
                    gap: $padding-lg;
                    .srs-badge {
                        border-radius: $padding-sm;
                        display: flex;
                        padding: $padding-xs $padding-sm;
                        margin: 0-$padding-xs 0 0-$padding-xs 0-$padding-xs;
                        gap: $padding-sm;
                        align-items: center;
                        .glyphicon,
                        img {
                            padding: $padding-xs;
                        }
                        span {
                            font-size: small;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
                &.srs-commas {
                    gap: $padding-sm;
                    .srs-comma {
                        display: flex;
                        font-size: small;
                        padding: 0px;
                    }
                }
            }
            .srs-icon-row {
                display: flex;
                align-items: center;
                padding-right: $padding-md;
                .glyphicon,
                img,
                .srs-icon {
                    padding: $padding-sm;
                    color: #6f6f6f;
                }
            }
        }
        &.active,
        &:focus-within {
            border-color: #264ae5;
        }
        &.read-only {
            cursor: not-allowed;
            background-color: #f8f8f8;
            input {
                cursor: not-allowed !important;
            }
        }
    }

    .srs-focusable:focus-visible {
        outline: $focus-outline;
    }

    .srs-dropdown {
        position: fixed;
        z-index: 80;
        max-height: 15em;
    }
    .srs-menu {
        border: 1px solid #d7d7d7;
        border-radius: $padding-xs;
        background-color: #fff;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                .srs-option {
                    cursor: pointer;
                    padding: $padding-md;
                    display: flex;
                    align-items: center;
                    input {
                        max-width: 16px;
                    }
                    p {
                        width: fit-content;
                        margin: 0;
                    }
                    &.disabled {
                        color: #6f6f6f;
                        cursor: not-allowed;
                    }
                    &.selected {
                        background-color: #e7e7e7;
                    }
                    &.focused {
                        background-color: #d7d7d7;
                    }

                    // input[type="checkbox"],
                    // input[type="radio"] {
                    //     margin-right: $padding-md !important;
                    //     flex-shrink: 0 !important;
                    // }
                }
                .srs-radio {
                    &::before {
                        content: "";
                        border-radius: 50%;
                        border: 1px solid #ced0d3; //border-color-default
                        display: inline-block;
                        height: 16px;
                        margin-right: 6px;
                        width: 16px;
                    }
                    &.selected::before {
                        background-color: #264ae5; //brand-primary
                        border: 0;
                        height: 8px;
                        margin-left: 4px;
                        margin-right: 10px;
                        outline: 1px solid #264ae5; //brand-primary
                        outline-offset: 3px;
                        width: 8px;
                    }
                    &.focused:not(.selected):before {
                        border: 1px solid #474e5c;
                    }
                }
                .srs-checkbox {
                    position: relative;
                    span {
                        padding-left: 24px;
                    }
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                    }

                    &:before {
                        // Checkbox
                        border: 1px solid #ced0d3; //border-color-default
                        border-radius: 4px;
                        background-color: transparent;
                        height: 16px;
                        width: 16px;
                    }

                    &.selected {
                        &:before {
                            // Checkbox
                            border: 1px solid #264ae5; //brand-primary
                            background-color: #264ae5; //brand-primary
                        }
                        &:after {
                            // Checkmark
                            border: 2px solid #ffffff;
                            border-top: 0;
                            border-right: 0;
                            height: 5px;
                            margin: 5px 4px;
                            pointer-events: none;
                            top: 8px;
                            transform: rotate(-45deg);
                            width: 9px;
                        }
                    }
                    &.focused:not(.selected):before {
                        border: 1px solid #474e5c;
                    }
                }
            }
        }

        .srs-infooption {
            // used for moreResultsText, loadingText, and noResultsFound
            padding: $padding-md;
            color: #6f6f6f;
        }
        &.wait .srs-option,
        &.wait .srs-infooption {
            // loading style
            cursor: wait !important;
        }
    }
    .mx-image-viewer {
        width: auto;
        height: auto;
    }

    .srs-aria-live {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
    }
    .link-button {
        border: 0;
        padding: 0;
    }
    .srs-icon {
        display: flex;
        align-items: center;
    }
}

.has-error .srs .srs-menu {
    border-color: #a94442;
}

.srs-alert {
    width: 100%;
}
