$padding-xs: 0.2em;
$padding-sm: 0.3em;
$padding-md: 0.5em;
$padding-lg: 0.7em;
$focus-outline: -webkit-focus-ring-color auto 1px;

.srs {
    width: 100%;
    .form-control {
        padding: 0;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        min-height: 38px;
        .srs-select {
            display: flex;
            width: 100%;
            .srs-value-container {
                padding: $padding-md;
                display: grid;
                flex: 1 1 0%;
                align-items: center;
                // for enum and ref
                .srs-current-value {
                    grid-column: 1;
                    height: min-content;
                    grid-row: 1;
                    p {
                        margin: 0;
                    }
                }
                > input {
                    border: none;
                    padding: 0;
                    background: transparent;
                    grid-column: 1;
                    grid-row: 1;
                    cursor: pointer;
                    min-width: 1px;
                }
                &.srs-multi {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
                &.srs-badges {
                    gap: $padding-lg;
                    .srs-badge {
                        border-radius: $padding-sm;
                        display: flex;
                        padding: $padding-xs $padding-sm;
                        margin: 0-$padding-xs 0 0-$padding-xs 0-$padding-xs;
                        gap: $padding-sm;
                        align-items: center;
                        .glyphicon,
                        img {
                            padding: $padding-xs;
                        }
                        span {
                            font-size: small;
                        }
                        p {
                            margin: 0;
                        }
                        > div:focus-visible {
                            outline: $focus-outline;
                        }
                    }
                }
                &.srs-commas {
                    gap: $padding-sm;
                    .srs-comma {
                        display: flex;
                        font-size: small;
                        padding: 0px;
                        &:focus-visible {
                            outline: $focus-outline;
                        }
                    }
                }
            }
            .srs-icon-row {
                display: flex;
                align-items: center;
                padding-right: $padding-md;
                .glyphicon,
                img {
                    padding: $padding-sm;
                    color: #6f6f6f;
                }
            }
        }
        &.active {
            border-color: #264ae5;
        }
        &.read-only {
            cursor: not-allowed;
            background-color: #f8f8f8;
            input {
                cursor: not-allowed !important;
            }
        }
    }

    .srs-icon-focusable:focus-visible {
        outline: $focus-outline;
    }

    .srs-dropdown {
        position: fixed;
        z-index: 80;
        max-height: 15em;
    }
    .srs-menu {
        border: 1px solid #d7d7d7;
        border-radius: $padding-xs;
        background-color: #fff;
        overflow-y: auto;
        padding: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            .srs-option {
                cursor: pointer;
                padding: $padding-md;
                display: flex;
                align-items: center;
                input {
                    max-width: 16px;
                }
                p {
                    width: fit-content;
                    margin: 0;
                }
                &.disabled {
                    color: #6f6f6f;
                    cursor: not-allowed;
                }
                &.focused {
                    background-color: #d7d7d7;
                }
                &.selected {
                    background-color: #e7e7e7;
                }

                input[type="checkbox"],
                input[type="radio"] {
                    margin-right: $padding-md !important;
                    flex-shrink: 0 !important;
                }
            }
        }
        .srs-infooption {
            // used for moreResultsText, loadingText, and noResultsFound
            padding: $padding-md;
            color: #6f6f6f;
        }
        &.wait .srs-option,
        &.wait .srs-infooption {
            // loading style
            cursor: wait !important;
        }
    }
    .mx-image-viewer {
        width: auto;
        height: auto;
    }

    .srs-aria-live {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
    }
}

.has-error .srs .srs-menu {
    border-color: #a94442;
}
