/*
Place your custom CSS here
*/
.searchable-reference-selector {
    width: 100%;
    position: relative;
}

.searchable-reference-selector .srs__control, .srss__control{
    display: flex;
    flex: 1;
    min-width: 50px;
    height: auto;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: #0a1325;
    border: 1px solid #e7e7e9 !important;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}