/*
Place your custom CSS here
*/
.srs {
    width: 100%;
    position: relative;
}

.srs .form-control {
    width: inherit;
    padding: 0;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 2px;
    padding: 0 8px;
}

.srs .active.form-control {
    border-color: #264ae5;
    outline: 0;
    background-color: #fff;
    box-shadow: none;
}

.srs input {
    border: none;
    padding: 8px 0;
    flex-grow: 1;
    border-radius: 4px;
    width: 30%;
}

.srs .glyphicon {
    padding: 4px;
}

.srs .srs-selectable-list.form-control {
    display: inline-block;
}

.srs .srs-text {
    padding: 8px 0;
    flex-grow: 1;
}

.srs .srs-text p {
    line-height: 1;
    margin: 0;
}

.srs .srs-badge {
    background-color: #e7e7e7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.srs .srs-badge .srs-icon {
    padding: 0;
    transform: scale(75%, 75%);
}

.srs .srs-badge span {
    padding-left: 4px;
    font-size: smaller;
}

.srs .srs-comma,
.srs-extra {
    padding: 2px;
    font-size: small;
}

.srs .srs-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 302;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
    padding: 0.25em;
}

.srs .srs-option {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 4px;
    display: flex;
}

/* styling for html mode w/ checkboxes */
.srs .srs-option input {
    max-width: 16px;
}
.srs .srs-option p {
    width: fit-content;
    line-height: 1;
    margin: 0;
}
.srs .srs-badge p {
    line-height: 1;
    margin: 0;
}

.srs .srs-infooption {
    padding: 0.5em;
    color: #6f6f6f;
}

.srs .srs-option.disabled {
    color: #6f6f6f;
    cursor: not-allowed;
}

.srs .srs-option.focused:not(.disabled) {
    background-color: #d7d7d7;
}
.srs .srs-option.selected {
    background-color: #e7e7e7;
}

.srs .srs-option input[type="checkbox"] {
    margin-right: 0.5em !important;
}
